body {
  background: #b8e5f8;
  font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
}

::-webkit-input-placeholder {
  font-size: 0.8rem;
}
::-moz-placeholder {
  font-size: 0.8rem;
}
:-ms-input-placeholder {
  font-size: 0.8rem;
}
:-moz-placeholder {
  font-size: 0.8rem;
}

.IntroContainer {
  background-color: #f6f6f6;
  color: #778087;
  padding-top: 1px;
  padding-bottom: 30px;
}

.IntroText {
  padding-left: 36px;
  padding-right: 36px;
}

.MainContainer {
  min-width: 300px;
  max-width: 500px;
  margin: 0 auto;
  padding-top: 30px;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(26,26,26,.1);
  box-sizing: border-box;
}

.BasicInput {
  display: block;
  font-size: 14px;
  margin: 0px auto;
  height: 34px;
  width: 100%;
  color: black;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px 12px;
}

.Screenshot {
  margin-top: 30px;
}

.Screenshot img {
  width: 90%;
  display: block;
  margin: 0 auto;
}

.UserNameInput {
  composes: BasicInput;
}

.CodeInput {
  composes: BasicInput;
}
.EmailInput {
  composes: BasicInput;
}
.BasicBtn {
  font-size: 14px;
  display: block;
  padding: 1px 7px 2px;
  color: white;
  background-color: #0084ff;
  border-radius: 4px;
  padding: 10px 30px;
  vertical-align: middle;
}
.SubmitBtn {
  composes: BasicBtn;
}
.BtnDisable {
    background-color: #f6f6f6;
}
.ErrorText {
    color: red;
}
.PassText {
    color: green;
}
.InactiveText {
    color: #ccc;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
color: #ccc;
opacity: 1; /* Firefox */
}

.FooterContainer {
  padding-top: 26px;
  text-align: center;
}

.FooterContainer img {
  width: 1rem;
  margin: 0 auto;
  display: block;
}
