.MainContainer {
  min-width: 300px;
  max-width: 500px;
  margin: 0 auto;
  padding-top: 30px;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(26,26,26,.1);
  box-sizing: border-box;
}

.FormContainer {
  padding-left: 36px;
  padding-right: 36px;
  margin: 0 auto;
  font-size: 14px;
}

.StoryTextarea {
  min-height: 200px;
}

